body {
}

#titulo {
    text-align: center;
    color: #57964E;
    font-size: 40px;
}

.texto {
    
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#logo {
    width: 150px;
    margin:120px;
    padding: 50px;
}

.titulo {
    text-align: center;
    background-image: linear-gradient(#ffffff, #94ee0d);
    color: #57964E;
}

header{
    padding: 20px;
    background-color: black;
    border-bottom: 2px solid white;
    font-size: 32px;
    color: #57964E;
    text-align: center;
}

.cabecalho-titulo{
    font-size: 20px;
    color:#57964E;
}