body {
background-color: rgb(255, 255, 255);
}

#titulo {
    text-align: center;
    color: rgb(#57964E);
    font-size: 40px;
}

.texto {
    
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
}



