body {
background-color: rgb(255, 255, 255);
}

#titulo {
    text-align: center;
    color: #57964E;
    font-size: 40px;
}

.texto {
    
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#logo {
    width: 150px;
    margin:120px;
    padding: 50px;
}

.titulo {
    background-image: linear-gradient(#F5EEC8, #8cc03f);
    color: #57964E;
}


